<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, 'Nombre', style: "display: block", class:'form-label' %>
    <%= form.text_field :name, class:'form-control', required: true %>
  </div>
  <div>
    <%= form.label :email, style: "display: block", class:'form-label' %>
    <%= form.email_field :email, class:'form-control', required: true %>
  </div>
  <div>
    <%= form.label :message, 'Mensaje', style: "display: block", class:'form-label' %>
    <%= form.text_area :message, class:'form-control', required: true %>
  </div>
  <div>
    <%= form.submit 'Enviar', class:'btn btn-primary mt-4' %>
  </div>
<% end %>
