<div id="<%= dom_id vehicle %>">
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title"><%= vehicle.brand %> <%= vehicle.model %> <%= vehicle.year %></h5>
      <h6 class="card-subtitle mb-2 text-body-secondary"><%= vehicle.user.name %></h6>
      <p class="card-text"><strong>Servicios de reparacion:</strong>
        <% vehicle.services.each do |service| %>
          <%= service.name %> -
        <% end %> <br>
        <strong>Repuestos reemplazados:</strong>
        <%= vehicle.replaced_parts %><br>
        <strong>Fecha de entrega</strong>
        <%= vehicle.finish_time %>
      </p>
    </div>
  </div>
</div>
