<p style="color: green"><%= notice %></p>
<%= render @vehicle %>
<div class='mt-3'>
  <%= link_to "Editar este vehiculo", edit_vehicle_path(@vehicle), class:'btn btn-secondary' %>
  <%= link_to "Volver al inicio", vehicles_path, class:'btn btn-secondary' %>
  <%= button_to "Eliminar este vehiculo", @vehicle, class:'btn btn-secondary mt-2', method: :delete %>
</div>
